 /*оформление всей страницы*/
 body {font-family:arial;
       font-size:32px;
	   font-style:normal;
	   font-weight:400;
	   background-color:Black;
	   text-align:center;
      }
/*стиль элемента id=cool*/
#price {color:green;
font-weight:600;
}

/*стиль элементов класса big*/
p.big {font-size: 200%;}
