 /*оформление всей страницы*/
 body {font-family:arial;
       font-size:16px;
	   font-style:normal;
	   font-weight:400;
      }
 /*стиль всех параграфов*/
 p { color: white;
      background-color: gray; }
/*стиль элемента id=cool*/
#cool {color:red;}
/*стиль элементов класса big*/
p.big {font-size: 200%;}
